<!DOCTYPE html>
<html lang="en">

<head>
    <title>fetch → extract → display</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" type="image/png"
          href="https://cdn.glitch.com/e3775294-3a28-4ee2-b3ce-c10b621f2539%2Ffavicon.png?1542681735376">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="skeleton.css">
    <link rel="stylesheet" href="style.css">
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
</head>

<body>

    <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <div class="container" id="app">
        <form>

            <div class="row">
                <h2>fetch → extract → display</h2>
            </div>
            <fieldset>
                <div class="row">
                    <label for="src-urls">Fetch URLs:</label>
                    <textarea class="u-full-width" placeholder="One per line …" 
                              id="srcUrls" v-model="rawUrls"></textarea>
                </div>
            </fieldset>

            <fieldset>
                <legend>Extract fields:</legend>
              <div id="fields-container">
                <div class="row">
                  <div class="twelve columns">
                    <div v-for="(field, index) in fields" :key="index">
                      <input type="text" placeholder="name" 
                             v-model="field.name">
                      <input class="" type="text" placeholder="selector" 
                             v-model="field.selector">
                      <button class="button button-remove" @click.prevent="removeField(index)" 
                              v-show="fields.length > 1">X</button>
                    </div>
                  </div>
                </div>
              </div>

                <div class="row">
                    <button class="button-primary" @click.prevent="addField">Add field</button>
                </div>

            </fieldset>

          <fieldset>
            
          
            <div class="row">
                <label for="displayTemplate">Display as:</label>
                <textarea class="u-full-width" placeholder="Block template" id="displayTemplate"></textarea>
            </div>
            </fieldset>

            <div class="row">
              <input class="button-primary" type="submit" value="Submit">
            </div>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="/client.js"></script>

    
    <!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix -->
    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
    <script src="https://button.glitch.me/button.js" defer></script>

</body>

</html>